[submodule ".registry"]
	path = .registry
	url = https://github.com/kaiaragaki/kaiaragaki.r-universe.dev
	branch = HEAD
[submodule "amplify"]
	path = amplify
	url = https://github.com/KaiAragaki/amplify
[submodule "bladdr"]
	path = bladdr
	url = https://github.com/McConkeyLab/bladdr
	registered = false
[submodule "blotbench"]
	path = blotbench
	url = https://github.com/KaiAragaki/blotbench
[submodule "cellebrate"]
	path = cellebrate
	url = https://github.com/McConkeyLab/cellebrate
	registered = false
[submodule "classifyBLCA"]
	path = classifyBLCA
	url = https://github.com/KaiAragaki/classifyBLCA
[submodule "ezmtt"]
	path = ezmtt
	url = https://github.com/KaiAragaki/ezmtt
[submodule "gplate"]
	path = gplate
	url = https://github.com/KaiAragaki/gplate
[submodule "mop"]
	path = mop
	url = https://github.com/KaiAragaki/mop
[submodule "qp"]
	path = qp
	url = https://github.com/KaiAragaki/qp
[submodule "reclanc"]
	path = reclanc
	url = https://github.com/KaiAragaki/reclanc
[submodule "thermos"]
	path = thermos
	url = https://github.com/KaiAragaki/thermos
[submodule "tidyestimate"]
	path = tidyestimate
	url = https://github.com/KaiAragaki/tidyestimate
